#form_cadastro{
	margin: 0 auto;
	width: 50%;
	height: auto;
	padding-top: 10px;
	/*border: 1px solid black;*/
	display: none;
}
#form_login{
	display: block;
	width: 30%;
	margin-top: 100px;
	box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.2);
	border-radius: 15px;
	padding-top: 20px;
	padding-bottom: 50px;
	background: rgba(255,255,255,0.2);
}
#btn_abrirLogin{
	display: none;
}
#btn_criarConta{
	display: block;
}

#imgPerfil{
	border: 1px solid #ccc;
    display: inline-block;
    padding: 6px 12px;
    cursor: pointer;
}

#rodape{
	width: 100%; 
	position: absolute; 
	height: 60px;
	float: left; 
	margin-top: 7%;
	background: rgba(55,169,191,0.8);
	bottom: 0;
	box-shadow: 0px 0px 25px 0px rgba(0,0,0,0.8);
}